$color-bg-dark: #030303;
$color-bg-button-hover: #9D8665;
$color-pagination-active: #D2B183;
$color-white: white;
$color-black: black;
$color-dark-red: #710707;
$color-word: #CAAA7D;

$color-font-hover: #9D8665;
$color-font-active-link: #7E6C51;

$content-width: 1440px;
$tablet-big-width: 1024px;
$tablet-width: 768px;
$mobile-width: 420px