// AMOUNT
.ticket__control {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 3px solid #000000;
    button {
        width: 18px;
        margin: 3px 11px 3px 0;
        @extend %font-primary;
        @include font(3.2rem, 3.8rem, 400);
        border: none;
        background-color: $color-white;
        cursor: pointer;
        &:first-of-type {
            margin:  3px 0 3px 11px;
        }
        &:hover {
            color: $color-dark-red;
        }
    }
    .number {
        all: unset;
        @extend %font-primary;
        @include font(2.2rem, 2.6rem, 300);
        text-align: center;
    }  
}